<template>
  <div>
    <pre>{{ data }}</pre>
    <button @click="randomize()">
      Randomize
    </button>

    <UploaderField />
  </div>
</template>

<script setup lang="ts">
import { useAsyncData } from 'nuxt/app';
import { rpc } from '#build/rpc';

const { data, execute } = useAsyncData(async () => rpc.foo.get());

async function randomize () {
  await rpc.foo.set(Math.random().toString());
  await execute();

  rpc.foo.explode();
}
</script>
