<template>
  <div>
    <h2>Upload</h2>
    <input ref="inputRef" type="file">
    <button @click="send">
      Send
    </button>
  </div>
</template>

<script lang="ts" setup>
import { ref, rpc } from '#imports';

const inputRef = ref<HTMLInputElement>();

async function send () {
  return rpc.upload.send.with({
    files: {
      file: inputRef.value!.files![0],
    },
  }, false);
}
</script>
